<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>GidroSave</title>
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
		<!-- google fonts -->
		<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300%7CLibre+Baskerville:400,400italic,700%7CLato:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
		<!-- Bootstrap -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/skin.less' %}">
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		<style>
			.contact-us {
				float: left;
				width: 149px;
				border: 2px solid #f79420;
				color: #f79420;
				text-align: center;
				font-size: 14px;
				line-height: 20px;
				font-weight: 700;
				padding: 12px;
				letter-spacing: 1px;
			}
		</style>
	</head>
	<body>
		<!--Wrapper Section Start Here -->
		<div id="wrapper">

 <div id="pageloader" class="row m0">
        <div class="loader-item"><img src="assets/svg/grid.svg" alt="loading"></div>
    </div> 
			<!--header Section Start Here -->
			<header id="header">
				<div class="primary-header">
					<div class="container">
						<div class="row">
							<div class="col-sm-5 left-header">
							<span>Добро пожаловать на сайт компании GidroSave</span>
							</div>
							<div class="col-sm-7 right-header">
								<ul>
									<li>
										<a href="mailto:ly4ok666@gmail.com"><i class="fa fa-envelope-o"></i> ly4ok666@gmail.com</a>
									</li>
									<li>
										<a href="#"><i class="fa fa-vk"></i></a>
									</li>
									<li>
										<a href="#"><i class="fa fa-instagram"></i></a>
									</li>
									<li>
										<a href="#"><i class="fa fa-facebook"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="secondry-header">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-4">
								<a href="{% url 'home:home' %}" class="logo"><img src="{% static 'img/logo2.png' %}" alt="logo" /></a>
								<span class="num">8-915-346-11-32</span>


							</div>
							<div class="col-xs-12 col-sm-8 menu-wrapper">
								<div class="button-wrapper">
									<button class="nav-button"></button>
								</div>
								<nav class="navigation">

									<ul class="menu">
										<li>
											<a href="{% url 'home:home' %}">Главная</a>

										</li>
										<li>
											<a href="{% url 'home:about' %}">О Нас</a>
											<!--Возможное подменю-->
											<!--<ul class="submenu">-->
												<!--<li>-->
													<!--<a href="projects.html">projects</a>-->
												<!--</li>-->
												<!--<li>-->
													<!--<a href="projects-1.html">projects-1</a>-->
												<!--</li>-->
												<!--<li>-->
													<!--<a href="projects-2.html">projects-2</a>-->
												<!--</li>-->
												<!--<li>-->
													<!--<a href="projects-details.html">projects-details</a>-->
												<!--</li>-->
											<!--</ul>-->
										</li>
										<li class="active">
											<a href="{% url 'home:articles' %}">Гидросейв</a>
										</li>
										<!--<li>-->
											<!--<a href="#">Контакты</a>-->
											<!--Возможное подменю-->
											<!--<ul class="submenu">-->
												<!--<li>-->
													<!--<a href="about-us.html">about-us</a>-->
												<!--</li>-->
												<!--<li>-->
													<!--<a href="about-us-1.html">about-us-1</a>-->
												<!--</li>-->
												<!--<li>-->
													<!--<a href="faq.html">faq</a>-->
												<!--</li>-->
											<!--</ul>-->
										<!--</li>-->
										<li>
											<a href="{% url 'home:contact' %}">Контакты</a>
											<!--Возможное подменю-->
											<!--<ul class="submenu">-->
												<!--<li>-->
													<!--<a href="blog-1.html">blog-1</a>-->
												<!--</li>-->
												<!--<li>-->
													<!--<a href="blog-2.html">blog-2</a>-->
												<!--</li>-->
												<!--<li>-->
													<!--<a href="blog-post.html">blog-post</a>-->
												<!--</li>-->
											<!--</ul>-->
										<!--Возможная ссылка, перенести под </li>-->
										<!--<li>-->
											<!--<a href="contact.html">contact</a>-->
										<!--</li>-->
									<!--</ul>-->
										</li>
									</ul>
								</nav>
								<a href="{% url 'home:contact' %}" class="quote">Задать вопрос</a>
							</div>

						</div>
					</div>
				</div>

			</header>
			<!--header Section End Here -->


			<!--content Section Start Here -->
			<div id="content">

				<div id="slider" class="banner-container parallax">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<h3>ГИДРОСЕЙВ</h3>
							</div>
						</div>
					</div>
				</div>

				<div class="clearfix">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<div class="breadcrumbs-box">
									<ul class="clearfix">
										<li>
											<a href="{% url 'home:home' %}">Главная</a>
										</li>
										<li>
											Гидросейв
										</li>
									</ul>
								</div>
							</div>

							<!--<div class="col-xs-12 col-sm-6 ">-->
								<!--<div class="about-detail">-->
									<!--<h3> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ornare odio et massa  dignissim, <i></i></h3>-->
									<!--<h4>OUR EXPERTS DELIVER INNOVATIVE, EFFICIENT & VALUE-DRIVEN-->
									<!--SOLUTIONS FOR CUSTOMERS IN ENERGY.</h4>-->

									<!--<p>-->
										<!--BuildPress Inc traces its roots back to 1989 in Colorado and since then have never looked back. With thousands of successful projects under our belt, we can proudly say that we are one of the most trusted construction companies in Colorado performing both domestic and international construction work.-->
									<!--</p>-->

								<!--</div>-->
							<!--</div>-->

							<!--<div class="col-xs-12 col-sm-6 ">-->
								<!--<div class="about-img">-->
									<!--<img src="assets/img/image-16.jpg" alt="" class="coll" />-->
									<!--<img src="assets/img/image-17.jpg" alt="" />-->
									<!--<img src="assets/img/image-18.jpg" alt="" />-->
								<!--</div>-->
							<!--</div>-->

						<!--</div>-->
					<!--</div>-->
				<!--</div>-->

				<!--<div class="info-aboutus clearfix">-->
					<!--<div class="left-banner fade-effect">-->
						<!--<img src="assets/img/laft-banner-img.jpg" alt=""/>-->
					<!--</div>-->
					<!--<div class="container">-->
						<!--<div class="row">-->
							<!--<div class="col-xs-12">-->

								<!--<div class="msg-slider animate-effect">-->
									<!--<ul>-->
										<!--<li>-->
											<!--<div class="msg-box">-->
												<!--<strong>CHAIRMAN MESSAGE</strong>-->
												<!--<p>-->
													<!--Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the  with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.-->
												<!--</p>-->
												<!--<strong>- Richard Parker, Chairman</strong>-->
											<!--</div>-->
											<!--<div class="award-box">-->
												<!--<img src="assets/img/image-20.jpg" alt="" />-->
												<!--<strong>AWARDS</strong>-->
												<!--<img src="assets/img/image-19.jpg" alt="" />-->
											<!--</div>-->
										<!--</li>-->
										<!--<li>-->
											<!--<div class="msg-box">-->
												<!--<strong>CHAIRMAN MESSAGE 2</strong>-->
												<!--<p>-->
													<!--Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the  with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.-->
												<!--</p>-->
												<!--<strong>- Richard Parker, Chairman</strong>-->
											<!--</div>-->
											<!--<div class="award-box">-->
												<!--<img src="assets/img/image-20.jpg" alt="" />-->
												<!--<strong>AWARDS 2</strong>-->
												<!--<img src="assets/img/image-19.jpg" alt="" />-->
											<!--</div>-->
										<!--</li>-->
										<!--<li>-->
											<!--<div class="msg-box">-->
												<!--<strong>CHAIRMAN MESSAGE 3</strong>-->
												<!--<p>-->
													<!--Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the  with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.-->
												<!--</p>-->
												<!--<strong>- Richard Parker, Chairman</strong>-->
											<!--</div>-->
											<!--<div class="award-box">-->
												<!--<img src="assets/img/image-20.jpg" alt="" />-->
												<!--<strong>AWARDS 3</strong>-->
												<!--<img src="assets/img/image-19.jpg" alt="" />-->
											<!--</div>-->
										<!--</li>-->
									<!--</ul>-->
								<!--</div>-->

								<!--<div class="our-detail animate-effect">-->
									<!--<div class="box">-->
										<!--<i class="icon-history"></i>-->
										<!--<strong>COMPANY HISTORY</strong>-->
										<!--<p>-->
											<!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ornare odio et massa dignissim, at accumsan metus viverra. Integer neque lectus.-->
										<!--</p>-->
									<!--</div>-->
									<!--<div class="box">-->
										<!--<i class="icon-mission"></i>-->
										<!--<strong>OUR MISSION</strong>-->
										<!--<p>-->
											<!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ornare odio et massa dignissim, at accumsan metus viverra. Integer neque lectus.-->
										<!--</p>-->
									<!--</div>-->
								<!--</div>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->

				<!--</div>-->
				{% block articles %}{% endblock %}
				<div class="our-team-container">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<!--<h3>OUR TEAM <i></i></h3>-->
								<!--<h4>WE OFFER AN ALL ROUND CONDO REMODELLING SERVICES</h4>-->
								{% for article in articles %}
								<div class="our-team-detail">
									<ul>
										<li class="zoom">
											<div class="box clearfix">
												<figure class="img-box fade-effect">
													<a href="#"><img src="{% static 'img/tm-4.jpg' %}" alt="" /></a>
												</figure>
												<div class="detail-box animate-effect">
													<span class="name"><a href="/content/get/{{ article.id }}">{{ article.article_title }}<i></i></a></span>
													<!--<span class="designation">CEO and Board Member <i></i></span>-->
													<p>{% autoescape off %}{{ article.article_text }}{% endautoescape %}</p>
													<div class="social-list clearfix">
														<a class="contact-us" href="/content/get/{{ article.id }}">Подробнее</a>
												</div>
											</div>
										</li>
										<!--<li class="zoom">-->
											<!--<div class="box clearfix">-->
												<!--<figure class="img-box fade-effect">-->
													<!--<a href="#"><img src="{% static 'img/tm-5.jpg' %}" alt="" /></a>-->
												<!--</figure>-->
												<!--<div class="detail-box animate-effect">-->
													<!--<span class="name"><a href="#">GEORGE QUICK</a></span>-->
													<!--<span class="designation">CEO and Board Member <i></i></span>-->
													<!--<p>-->
														<!--Lorem ipsum dolor sit amet, consectetur adipiscing elitInteger ornare odio .-->
													<!--</p>-->
													<!--<div class="social-list clearfix">-->

														<!--<a class="fa fa-facebook" href="#"></a>-->

														<!--<a class="fa fa-twitter" href="#"></a>-->

														<!--<a class="fa fa-google-plus" href="#"></a>-->

													<!--</div>-->
												<!--</div>-->
											<!--</div>-->
										<!--</li>-->
 										<!--<li class="zoom">-->
											<!--<div class="box clearfix">-->
												<!--<figure class="img-box fade-effect">-->
													<!--<a href="#"><img src="{% static 'img/tm-6.jpg' %}" alt="" /></a>-->
												<!--</figure>-->
												<!--<div class="detail-box animate-effect">-->
													<!--<span class="name"><a href="#">GEORGE QUICK</a></span>-->
													<!--<span class="designation">CEO and Board Member <i></i></span>-->
													<!--<p>-->
														<!--Lorem ipsum dolor sit amet, consectetur adipiscing elitInteger ornare odio .-->
													<!--</p>-->
													<!--<div class="social-list clearfix">-->

														<!--<a class="fa fa-facebook" href="#"></a>-->

														<!--<a class="fa fa-twitter" href="#"></a>-->

														<!--<a class="fa fa-google-plus" href="#"></a>-->

													<!--</div>-->
												<!--</div>-->
											<!--</div>-->
										<!--</li>-->
										<!--<li class="zoom">-->
											<!--<div class="box clearfix">-->
												<!--<figure class="img-box fade-effect">-->
													<!--<a href="#"><img src="{% static 'img/tm-7.jpg' %}" alt="" /></a>-->
												<!--</figure>-->
												<!--<div class="detail-box animate-effect">-->
													<!--<span class="name"><a href="#">GEORGE QUICK</a></span>-->
													<!--<span class="designation">CEO and Board Member <i></i></span>-->
													<!--<p>-->
														<!--Lorem ipsum dolor sit amet, consectetur adipiscing elitInteger ornare odio .-->
													<!--</p>-->
													<!--<div class="social-list clearfix">-->

														<!--<a class="fa fa-facebook" href="#"></a>-->

														<!--<a class="fa fa-twitter" href="#"></a>-->

														<!--<a class="fa fa-google-plus" href="#"></a>-->

													<!--</div>-->
												<!--</div>-->
											<!--</div>-->
										<!--</li>-->
									</ul>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
					</div>
				</div>
			<!--content Section End Here -->

			<!--footer Section Start Here -->
			<footer id="footer">


				<div class="contact-us-container">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 animate-effect">
								<div class="box">
									<!--<em class="location-svg"><img src="{% static 'svg/05.svg' %}" alt="" class="svg"/></em>-->
									<!--<strong>227 Marion Street</strong>-->
									<!--<span>Columbia, SC 29201</span>-->
								</div>

								<div class="box call">
									<!--<em class="fa fa-phone"></em>-->
									<!--<strong>1-888-123-4567</strong>-->
									<!--<span><a href="mailto:info@industrial.com">info@industrial.com</a></span>-->
								</div>

								<div class="box" style="height: 128px">
									<ul class="clearfix">
										<!--<li>-->
											<!--<a href="#"><i class="fa fa-facebook"></i></a>-->
										<!--</li>-->
										<!--<li>-->
											<!--<a href="#"><i class="fa fa-twitter"></i></a>-->
										<!--</li>-->
										<!--<li>-->
											<!--<a href="#"><i class="fa fa-google-plus"></i></a>-->
										<!--</li>-->
									</ul>
								</div>

								<div class="box call">
										<!--<em class="fa fa-envelope-o"></em>-->
										<!--<span><a href="mailto:info@industrail.com">info@industrail.com</a></span>-->
									<!--<a class="contact-us" href="#">CONTACT US</a>-->
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--contact-us container End Here -->

				<div class="primary-footer">
					<div class="container">
						<div class="row animate-effect">
							<div class="col-xs-12 col-sm-4">
								<h3>О Компании <i></i></h3>
								<p>
									Профиль ООО "ГидроПротект" - качественная гидроизоляция зданий. Наша история началась еще в 1994 году. Уже тогда специалисты нашей фирмы начали заниматься проблемами комплекса мероприятий по качественной профессиональной защите строительных конструкций от проникновения влаги.
								</p>

							</div>

							<div class="col-xs-12 col-sm-4">
								<h3>Навигация по сайту <i></i></h3>
								<ul class="list clearfix">
									<li>
										<a href="{% url 'home:home' %}">Главная</a>
									</li>
									<li>
										<a href="{% url 'home:about' %}">О нас</a>
									</li>
									<li>
										<a href="{% url 'home:articles' %}">Гидроизол</a>
									</li>
									<li>
										<a href="{% url 'home:contact' %}">Контакты</a>
									</li>
									<!--<li>-->
										<!--<a href="#">Статьи</a>-->
									<!--</li>-->
									<!--Возможная ссылка-->
									<!--<li>-->
										<!--<a href="#">Contact us</a>-->
									<!--</li>-->
								</ul>
							</div>

							<div class="col-xs-12 col-sm-4">
								<h3>Наши контакты: <i></i></h3>
										<a href="#"><i class="fa fa-vk"></i></a>
										<a href="#"><i class="fa fa-instagram" style="padding-right: 20px; padding-left: 20px; padding-bottom: 10px;"></i></a>
										<a href="#"><i class="fa fa-facebook"></i></a>
								<address>
								Адресс в Москве:<br>
								ул.Мусы Джалиля,<br>
								д.4, к.4,<br>
									оффис №349<br>
								<i class="fa fa-phone"></i>
									8-915-346-11-32<br>
									<i class="fa fa-phone"></i>
									8-499-725-32-93<br>
								<i class="fa fa-envelope-o"></i>
									<a href="mailto:ly4ok666@gmail.com">ly4ok666@gmail.com</a>

								</address>
							</div>

						</div>

						<div class="row animate-effect">
							<div class="col-xs-12 copyright">
								<div class="col-sm-5 left-header">
									<span>Ly4ok666 | © 2017 Ly4ok_Industrial, All rights reserved</span>
								</div>
								<div class="col-sm-7 right-header">
								<ul>
									<li>
										<a href="mailto:ly4ok666@gmail.com"><i class="fa fa-envelope-o"></i> ly4ok666@gmail.com</a>
									</li>
									<li>
										<a href="#"><i class="fa fa-vk"></i></a>
									</li>
									<li>
										<a href="#"><i class="fa fa-instagram"></i></a>
									</li>
									<li>
										<a href="#"><i class="fa fa-facebook"></i></a>
									</li>
								</ul>
							<!--</div>-->
								<!--<span>Ly4ok666 | © 2017 Ly4ok_Industrial, All rights reserved</span>-->
							<!--</div>-->
						</div>
					</div>
				</div>
					</div>
				</div>
			</footer>
			<!--footer Section End Here -->

		</div>
		<!--Wrapper Section End Here -->

		<script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/less.js' %}"></script>
		<script src="{% static 'js/jquery.bxslider.js' %}"></script>
		<script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
		<script src="{% static 'js/site.js' %}"></script>
	</body>
</html>