{% extends 'content.html' %}
{% load embed_video_tags %}
{% load staticfiles %}

{% block articles %}

						<div class="project-discription clearfix">

							<div class="col-xs-12 col-sm-7 animate-effect  ">
								<h4>{{ article.article_title }}<i></i></h4>
								<!--<span class="note">our experts deliver innovative, efficient &amp; value-driven solutions for customers in energy.</span>-->
								<p>{% autoescape off %}{{ article.article_text }}{% endautoescape %}</p>
								<div class="clearfix">
									<div class="box">
										<i class="icon-goal"></i>
										<strong>Цели Проекта</strong>
										<p>
											{{ article.goals_1 }}
										</p>
									</div>

									<div class="box odd">
										<i class="icon-eco"></i>
										<strong>Цели Проекта</strong>
										<p>
											{{ article.goals_2 }}
										</p>
									</div>
								</div>

								<h5>Особенности этого проекта <i></i></h5>
								<ul class="feature-list clearfix">
									{% for feature in features %}
									<li>
										<em><i class="fa fa-check"></i></em>
										{{ feature.features_text }}
									</li>
									{% endfor %}
								</ul>
							</div>

							<div class="col-xs-12 col-sm-5">
								<div class="right-content">
									<ul class="img-box clearfix">
										<li class="zoom fade-effect">
											<figure>
												<a href="{{ MEDIA_URL }}{{ article.article_image.url }}"><img src="{{ MEDIA_URL }}{{ article.article_image.url }}" alt="" /></a>
											</figure>
										</li>
										<li class="zoom fade-effect">
											<figure>
												<a href="{{ MEDIA_URL }}{{ article.article_image.url }}"><img src="{{ MEDIA_URL }}{{ article.article_image.url }}" alt="" /></a>
											</figure>
										</li>
										<li class="zoom fade-effect">
											<figure>
												<a href="{{ MEDIA_URL }}{{ article.article_image.url }}"><img src="{{ MEDIA_URL }}{{ article.article_image.url }}" alt="" /></a>
											</figure>
										</li>
										<li class="zoom fade-effect">
											<figure>
												<a href="{{ MEDIA_URL }}{{ article.article_image.url }}"><img src="{{ MEDIA_URL }}{{ article.article_image.url }}" alt="" /></a>
											</figure>
										</li>
									</ul>

									<ul class="pro-slider fade-effect">
										<li>
											<a href="{{ MEDIA_URL }}{{ article.article_image.url }}"><img src="{{ MEDIA_URL }}{{ article.article_image.url }}" alt="" /></a>
										</li>
										<li><a href="{{ MEDIA_URL }}{{ article.article_image.url }}"><img src="{{ MEDIA_URL }}{{ article.article_image.url }}" alt="" /></a>
										</li>
									</ul>

								</div>
							</div>
							<div class="social-list clearfix">
								<button class="contact-us" style="margin-top: 60px;margin-left: 80px;background-color: rgba(241, 241, 241, 0);" onclick="history.back();"><b>Вернуться</b></button>
							</div>
						</div>

					</div>

				</div>

			</div>

{% endblock %}
